@import "tailwindcss";
*{
  font-family: var(--font-rubik);
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-verde-escuro{
  background: #009688 !important;
}

.text-verde-escuro{
  color: #009688 !important;
}

.text-verde-claro{
  color: #8bc34a !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bg-verde-claro{
  background-color: #8bc34a;
}

.bg-azul-claro{
  background-color: #4dd0e1;
}

.bg-success{
  background-color: #28a745;
}

.bg-danger{
  background-color: #dc3545;
}

.bg-warning{
  background-color: #ffc107;
}

.bg-primary{
  background-color: #007bff;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ocupa a maior parte da tela */
  color: #ccc;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Cinza claro */
  border-top: 5px solid #3498db; /* Azul */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

/* Animação do spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clickable:hover{
  cursor: pointer;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: white;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;   
}
footer {
    background: #016f65;
    background-image: linear-gradient(180deg, #003631 43.89%, #006158 100%);
    background-repeat: no-repeat;
}
@media screen and (min-width: 1280px){
  footer {
    background: #016f65;
    background-image: linear-gradient(220deg, #003631 69.7%, #006158 100%);
    background-repeat: no-repeat;
  }
}
#font-epunda{
  font-family:var(--font-epunda-slab);
}
#linkLogin{
  font-family:var(--font-inter);
}